@import '../css/var.css';

.main {
   width: 100vw;
   height: 750px;
   display: flex;
   justify-content: center;
   overflow: hidden;
}

.bg {
   width: 100vw;
   height: 750px;
   position: absolute;
   z-index: -1;
   background-color: var(--bg-primary);
}

.center-full {
   width: 1200px;
   height: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.colunm {
   display: flex;
   flex-direction: column;
}

.welcome {
   width: 100vw;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
}