@import '../css/main.css';

@media (max-width: 1070px) {
   .races-container {
      height: 100% !important;
   }
   .races-content {
      pointer-events: none;
   }
}

@media (max-width: 900px) {
   .main {
      height: 1000px;
   }

   .center-full {
      flex-direction: column;
   }

   .sec1-left,
   .sec1-right {
      width: 100% !important;
      display: flex;
      align-items: center;
   }

   .sec1-left h1 {
      width: 400px;
      text-align: center;
      font-size: 2rem !important;
      margin-top: 100px;
   }

   .sec1-left span {
      font-size: 4rem !important;
   }

   .sec1-text {
      align-items: center;
      justify-content: center;
      height: 150px !important;
   }

   .sec1-btn {
      bottom: -20px !important;
   }

   .sec1-p {
      justify-content: center;
   }

   .imgSec1 {
      width: 350px;
      left: 50%;
      transform: translateX(-50%) !important;
   }

   .circle {
      width: 600px !important;
      height: 600px !important;
      left: 50%;
      transform: translateX(-50%) !important;
      bottom: -100px !important;
   }

   /* === SEC1 END === */

   .welcome-left {
      display: none;
   }

   .welcome-right {
      height: 300px !important;
   }

   .races-container {
      height: 60% !important;
      margin-top: 30px;
   }

   /* === SEC2 END === */

   .bg-fixed {
      display: none;
   }

   .imgSec3 {
      width: 250px !important;
   }

   .sec3-left, .sec3-right {
      width: 150px !important;
   }

   .sec3-left, .sec3-right li {
      font-size: 0.8rem
   }

   .sec3-right, .sec3-left {
      padding-left: 30px !important;
   }

   /* === SEC3 END === */

   .dach-left {
      justify-content: center !important;
      padding: 0 !important;
   }

   .dach-right {
      display: flex !important;
      justify-content: center !important;
      text-align: center !important;
      padding-left: 0 !important;
      margin-bottom: 150px;
   }

   .dach-right h1,.dach-right h2 {
      position: absolute;
      top: 0;
   }

   .dach-right h1 {
      top: -150px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
   }
   .dach-right h2 {
      top: -90px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
   }

   .dach-right p {
      width: 100% !important;
   }

   .video-dach {
      width: 300px !important;
   }

   .dach-sec-photo {
      height: 32% !important;
      padding-left: 70px !important;
   }

   .dach-photos {
      width: 870px !important;
   }

   .div1 {
      width: 226px !important;
      height: 212px !important;
   }
   
   .div2 {
      width: 287px !important;
      height: 233px !important;
   }
   
   .div3 {
      width: 129px !important;
      height: 273px !important;
   }
   
   .div4 {
      width: 226px !important;
      height: 336px !important;
   }
   
   .div5 {
      bottom: 50px !important;
      width: 287px !important;
      height: 212px !important;
   }
   
   .div6 {
      width: 129px !important;
      height: 280px !important;
   }
   
   .video-dach1,
   .video-dach2 {
      width: 100%;
      height: 100%;
   }
}

@media (max-width: 400px) {
   .sec1-left h1 {
      font-size: 1rem !important;
   }

   .sec1-left span {
      font-size: 3rem !important;
   }
}